dj-database-url==0.5.0
Django==3.1.7
django-heroku==0.3.1
djangorestframework==3.13.1
gunicorn==20.1.0
pipenv==2022.1.8
pipreqs==0.4.11
psycopg2==2.9.3
pywin32-ctypes==0.2.0
requests==2.26.0
virtualenv==20.13.0
virtualenv-clone==0.5.7
pylibmc==1.5.2
whitenoise==5.3.0
